$mobile: false;

@mixin eleven40-container {
	@if $mobile == true
	{
		@include eleven40-mobile-full;
	}
	@else
	{
		padding-left: 20px;
		padding-right: 20px;
	}
}

@mixin eleven40-row {
	@if $mobile == true
	{
		@include eleven40-mobile-full;
	}
	@else
	{
		width: 100%;
		max-width: 1140px;
		margin: 0 auto;
		overflow: hidden;
	}
}

// $default-width should include the %
@mixin eleven40-subcolumn($default-width) {
	@if $mobile == true
	{
		@include eleven40-mobile-column;
	}
	@else
	{
		width: $default-width;
		margin-right: 3.8%;
		float: left;
	}
}

@mixin eleven40-onecol {
	@include eleven40-subcolumn(4.85%);
}

@mixin eleven40-twocol {
	@include eleven40-subcolumn(13.5%);
}

@mixin eleven40-threecol {
	@include eleven40-subcolumn(22.15%);
}

@mixin eleven40-fourcol {
	@include eleven40-subcolumn(30.8%);
}

@mixin eleven40-fivecol {
	@include eleven40-subcolumn(39.45%);
}

@mixin eleven40-sixcol {
	@include eleven40-subcolumn(48.1%);
}

@mixin eleven40-sevencol {
	@include eleven40-subcolumn(56.75%);
}

@mixin eleven40-eightcol {
	@include eleven40-subcolumn(65.4%);
}

@mixin eleven40-ninecol {
	@include eleven40-subcolumn(74.05%);
}

@mixin eleven40-tencol {
	@include eleven40-subcolumn(82.7%);
}

@mixin eleven40-elevencol {
	@include eleven40-subcolumn(91.35%);
}

@mixin eleven40-twelvecol {
	@include eleven40-subcolumn(100%);
}

@mixin eleven40-last {
	margin-right: 0px;
}