@include mobile;

@mixin 1140-container {
	@if $mobile == true
	{
		@include 1140-mobile-full;
	}
	@else
	{
		padding-left: 20px;
		padding-right: 20px;
	}
}

@mixin 1140-row {
	@if $mobile == true
	{
		@include 1140-mobile-full;
	}
	@else
	{
		width: 100%;
		max-width: 1140px;
		margin: 0 auto;
		overflow: hidden;
	}
}

// $default-width should include the %
@mixin 1140-subcolumn($default-width) {
	@if $mobile == true
	{
		@include 1140-mobile-column;
	}
	@else
	{
		width: $default-width;
		margin-right: 3.8%;
		float: left;
	}
}

@mixin 1140-onecol {
	@include 1140-subcolumn(4.85%);
}

@mixin 1140-twocol {
	@include 1140-subcolumn(13.5%);
}

@mixin 1140-threecol {
	@include 1140-subcolumn(22.15%);
}

@mixin 1140-fourcol {
	@include 1140-subcolumn(30.8%);
}

@mixin 1140-fivecol {
	@include 1140-subcolumn(39.45%);
}

@mixin 1140-sixcol {
	@include 1140-subcolumn(48.1%);
}

@mixin 1140-sevencol {
	@include 1140-subcolumn(56.75%);
}

@mixin 1140-eightcol {
	@include 1140-subcolumn(65.4%);
}

@mixin 1140-ninecol {
	@include 1140-subcolumn(74.05%);
}

@mixin 1140-tencol {
	@include 1140-subcolumn(82.7%);
}

@mixin 1140-elevencol {
	@include 1140-subcolumn(91.35%);
}

@mixin 1140-twelvecol {
	@include 1140-subcolumn(100%);
	float: left;
}

@mixin 1140-last {
	margin-right: 0px;
}